/.vscode
/abb.cpp
/aed2.cpp
/cholesky.py
/cpp.cpp
/MAXHEAP.cpp
/MIL.cpp
/new.java
/NEWTON.cpp
/oi2.java
/oio.java
/output
/poggers.cpp
/TA1.cpp
/tarbalho.py
/trabalhocalcnum.cpp
/zerodefuncao.cpp
/zerodefuncaotostring.cpp